body {
    background-image: url(2.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    height: 50px;
    width: 450px;
    border-radius: 15px;
    border: 0px;
    
}

button {
    height: 55px;
    width: 50px;
    background-color: aquamarine;
}

.contentDiv {
    height: 550px;
    width: 510px;
    background-image: url(1.jpg);
    margin-top: 10px;
    margin-right: 10px;
    font-size: 30px;
}
.deleteButton {
    height: 45px;
    width: 100px;
    background-color: red;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    
    
   
}
